*{
  box-sizing: border-box;
}

body{
  padding: 0px;
  margin: 0px;
  font-family: "Noto Sans JP", serif;
  color: #000000;
  background-color: #ffffff;
  font-size: 18px;
}

p{
  margin: 0;
}

h1{
  font-size: 34px;
  border: 2px solid #000000;
}


/* header */

.header-inner{
  display: flex;
  justify-content: space-between;
  margin: 0 230px;
  padding: 32px 16px 32px 16px;
}

h1 > a{
  color: #000000;
  text-decoration: none;
}
.menu{
  display: flex;

}

.menu > li{
  list-style: none;
  padding: 0 10px 0 10px;
}
.menu > li > a {
  color: #000000;
  font-size: 34px;
  font-weight: bold;
  text-decoration: none;
}

.name{
  font-size: 24px;
}
/* main */
.mainpng{
  width: 100%;
  margin: 0 auto
}

/* about */
h2{
  font-size: 34px;
  text-align: center;
}
.about-inner{
  display: flex;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  max-width: 820px;
}

.aboutpng{
  width: 284px;
  border-radius: 50%;
  
}
.about-content{
  margin: 0 auto;
  padding: 0 10px;
}
.name{
  font-size: 24px;
  font-weight: bold;
}

li{
  font-size: 18px;
}

/* works */
.works-inner{
  display: flex;
  width: 752px;
  justify-content: center;
  margin: 0 auto;
}

.works-content{
  margin: 0 10px;
  padding:0 0 20px 0;
  width: 240px;
}
.works-content > img{
  width: 240px;
}

.works-content > p{
  margin-top: 20px;
}

/* fotter */
#copyright{
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

@media (max-width:767px) {
  .header-inner{
    margin: auto;
  }

  .about-inner{
    flex-wrap: wrap;
  }
  .aboutpng{
    width: 100%;
  }
  .about-content > ul{
    width: 296px;
  }
  .works-inner{
    flex-wrap: wrap;
    width: 100%;
  }
  .works-content{
    width:355px;
    text-align: center;
    margin: 20px;
  }
  .works-content > img{
    width: 355px;
  }
}